@model Sesshin.Website.Models.ProductsDetailsViewModel

@{
    ViewBag.Title = Model.PageTitle;
    ViewBag.MetaDescription = Model.PageDescription;
    ViewBag.MetaKeywords = Model.PageKeywords;

    var hasMoreThanOneInage = Model.BackgroundImages.Any() && Model.BackgroundImages.Count > 1;
 }  
 
@if (hasMoreThanOneInage)
{
      @Helpers.MainContentChange(Model.BackgroundImages)
}

else 
{
    @Html.Partial("_DefaultMainContentChange")
}


<div class="text-content "> 
    <div class="products-details-box">
        <div class="nano">
            <div class="content">
                <h2 class="h2-products">@Model.ProductName</h2>
                <p>
                    @Html.Raw(Model.Text)
                </p>
            </div>
        </div>
        
    </div>
      @if (Model.IsDisplayPriceLink)
        {
            <div class="products-to-prices-box">
      
                <p>
                    @Html.ActionLink("לחץ למחירון", "Prices", new { englishName = Model.EnglishName }, new { @class = "link-orange" })
                </p>
       
            </div>
        }
</div>
