@model IEnumerable<Sesshin.Model.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered  table-hover dataTable" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th>
                שם
            </th>

            <th>
                טלפון
            </th>
            <th>
                מייל
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="odd gradeX">

                <td>
                    @(item.FirstName + " " + item.LastName)
                </td>

                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="row">
    @using (Html.BeginForm("ExportData","Customer",FormMethod.Get))
    {
    <input type="submit" value="Export to xls" class="btn btn-success  btn-lg btn-block" />
    }

</div>

